.validator-form{
    display:flex;
    flex-direction:column;
    align-items: center;
}

.sec1{
    width: 100%;
    align-items: flex-start;
    display:flex;
    justify-content: space-evenly;
    flex-direction:row;
    margin-top:40px;
    margin-bottom:50px;
}

.submitButton{
    margin:auto;
}