.landing{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 200px;
  font-size: 35px;
  text-align: center;
  font-weight: 200;
  max-width: 90vw;
}


.landing-image{
  margin-bottom: 25px;
}

.landing-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}